[class*="col-"]{
  height: 200px;
  background-color: rgb(254, 192, 203);
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  line-height: 180px;
}

.container>.col-6 [class*="col-"]{
  height: 190px;
  border-color: #fff;
  background-color: rgb(240, 128, 128);
}